body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: darkblue;
}

.container {
    max-width: 400 px;
    margin: 0 auto;
    background-color: darkgrey;
    padding: 20px;
    border-radius: 10 px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: rgb(53, 4, 99);
}

.options {
    text-align: left;
    margin: 10px 0;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    font-weight: bold;
}

#score {
    font-weight: bold;
    margin-top: 10px;
}

.high-scores {
    list-style-type: none;
    padding: 0
}